# Environment setting / ç’°å¢ƒè¨­å®š
Best practices: Categorical variables - Uniform encoding / æœ€ä½³å¯¦è¸ï¼šé¡åˆ¥è®Šé … - å‡å‹»ç·¨ç¢¼

In [1]:
import os
import sys
from pathlib import Path

# è‡ªå‹•è¼‰å…¥ utils / Auto-load utils
if "COLAB_GPU" in os.environ:
    url = "https://raw.githubusercontent.com/nics-tw/petsard/main/demo/utils.py"
    exec(open(url).read())
else:
    # éœé»˜æœå°‹ utils.py / Silent search for utils.py
    current = Path.cwd()
    for _ in range(5):
        if (current / "utils.py").exists():
            sys.path.insert(0, str(current))
            break
        current = current.parent

    # åŒ¯å…¥ utils æ¨¡çµ„ / Import utils module
    from utils import quick_setup

# å¿«é€Ÿè¨­å®š / Quick setup
is_colab, branch, yaml_path = quick_setup(
    yaml_file="categorical.yaml",
    benchmark_data=[
        "best-practices_categorical_high-cardinality",
    ],
    branch="main",  # å¯é¸ï¼Œé è¨­ç‚º "main"
)

from petsard import Executor

ğŸš€ PETsARD v1.5.1
ğŸ“… 2025-07-31 13:42:43 UTC+8
ğŸ“ Subfolder: best-practices
ğŸ“„ YAML path: petsard/demo/best-practices/categorical.yaml
âš™ï¸ Configuration content:
---
Loader:
  data:
    filepath: 'benchmark/best-practices_categorical_high-cardinality.csv'
    column_types:
      category:
        - university_code
        - college_code
        - department_code
Preprocessor:
  encoding_uniform:
    sequence:
      - 'encoder'
    encoder:
      birth_year: 'encoding_uniform'
      birth_month: 'encoding_uniform'
      birth_day: 'encoding_uniform'
      zodiac: 'encoding_uniform'
      university_code: 'encoding_uniform'
      university: 'encoding_uniform'
      college_code: 'encoding_uniform'
      college: 'encoding_uniform'
      deparment_code: 'encoding_uniform'
      department_name: 'encoding_uniform'
      admission_type_code: 'encoding_uniform'
      admission_type: 'encoding_uniform'
      disabled_code: 'encoding_uniform'
      disabled_type: 'encoding_uniform'
      nationality_code: 'encoding_uniform'
      nationality: 'encoding_uniform'
      identity_code: 'encoding_uniform'
      identity: 'encoding_uniform'
      sex: 'encoding_uniform'
Synthesizer:
  demo:
    method: 'default'
Postprocessor:
  demo:
    method: 'default'
Reporter:
  output:
    method: 'save_data'
    source: 'Postprocessor'
...

In [2]:
from pprint import pprint

import pandas as pd


students = pd.read_csv("benchmark/best-practices_categorical_high-cardinality.csv")


students_columns = {}
for column in students.columns:
    students_columns[column] = {}
    students_columns[column]["cardinality"] = students[column].nunique()
    students_columns[column]["dtype"] = str(students[column].dtype)

print("columns: ")
pprint(students_columns)

columns:
{'admission_type': {'cardinality': 11, 'dtype': 'object'},
 'admission_type_code': {'cardinality': 11, 'dtype': 'object'},
 'birth_day': {'cardinality': 31, 'dtype': 'int64'},
 'birth_month': {'cardinality': 12, 'dtype': 'int64'},
 'birth_year': {'cardinality': 7, 'dtype': 'int64'},
 'college': {'cardinality': 4, 'dtype': 'object'},
 'college_code': {'cardinality': 6, 'dtype': 'object'},
 'department_code': {'cardinality': 24, 'dtype': 'int64'},
 'department_name': {'cardinality': 20, 'dtype': 'object'},
 'disabled_code': {'cardinality': 2, 'dtype': 'int64'},
 'disabled_type': {'cardinality': 2, 'dtype': 'object'},
 'identity': {'cardinality': 14, 'dtype': 'object'},
 'identity_code': {'cardinality': 14, 'dtype': 'int64'},
 'nationality': {'cardinality': 63, 'dtype': 'object'},
 'nationality_code': {'cardinality': 62, 'dtype': 'object'},
 'sex': {'cardinality': 2, 'dtype': 'object'},
 'university': {'cardinality': 2, 'dtype': 'object'},
 'university_code': {'cardinality': 2, 'dtype': 'int64'},
 'zodiac': {'cardinality': 12, 'dtype': 'object'}}

In [3]:
students.head(5).T

                                 0         1        2       3        4
birth_year                    2005      2003     2002    2002     2000
birth_month                      4         1       11      12       10
birth_day                        9        16        7      24        7
zodiac                         ç‰¡ç¾Šåº§       æ‘©ç¾¯åº§      å¤©è åº§     æ‘©ç¾¯åº§      å¤©ç§¤åº§
university_code                  2         1        1       1        1
university                  åœ‹ç«‹æ”¿æ²»å¤§å­¸    åœ‹ç«‹è‡ºç£å¤§å­¸   åœ‹ç«‹è‡ºç£å¤§å­¸  åœ‹ç«‹è‡ºç£å¤§å­¸   åœ‹ç«‹è‡ºç£å¤§å­¸
college_code                   700      2000     1000    9000     1000
college                        ç†å­¸é™¢       ç†å­¸é™¢      æ–‡å­¸é™¢  é›»æ©Ÿè³‡è¨Šå­¸é™¢      æ–‡å­¸é™¢
department_code                702      2080     1070    9020     1040
department_name               å¿ƒç†å­¸ç³»  åœ°ç†ç’°å¢ƒè³‡æºå­¸ç³»   æ—¥æœ¬èªæ–‡å­¸ç³»  è³‡è¨Šå·¥ç¨‹å­¸ç³»      å“²å­¸ç³»
admission_type_code             01        46       51      46       51
admission_type       å­¸å£«ç­ (æŒ‡è€ƒåˆ†ç™¼/è¯è€ƒ)      ç¹æ˜Ÿæ¨è–¦  å­¸å£«ç­ç”³è«‹å…¥å­¸    ç¹æ˜Ÿæ¨è–¦  å­¸å£«ç­ç”³è«‹å…¥å­¸
disabled_code                    0         0        0       0        0
disabled_type                ç„¡èº«å¿ƒéšœç¤™     ç„¡èº«å¿ƒéšœç¤™    ç„¡èº«å¿ƒéšœç¤™   ç„¡èº«å¿ƒéšœç¤™    ç„¡èº«å¿ƒéšœç¤™
nationality_code               NaN       NaN      NaN     NaN      NaN
nationality                   ä¸­è¯æ°‘åœ‹      ä¸­è¯æ°‘åœ‹     ä¸­è¯æ°‘åœ‹    ä¸­è¯æ°‘åœ‹     ä¸­è¯æ°‘åœ‹
identity_code                    1         1        1       1        1
identity                       ä¸€èˆ¬ç”Ÿ       ä¸€èˆ¬ç”Ÿ      ä¸€èˆ¬ç”Ÿ     ä¸€èˆ¬ç”Ÿ      ä¸€èˆ¬ç”Ÿ
sex                              å¥³         å¥³        ç”·       ç”·        å¥³

# Execution and Result / åŸ·è¡Œèˆ‡çµæœ

In [4]:
exec_case = Executor(config=yaml_path)
exec_case.run()

Now is petsard_Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo] save to csv...

In [5]:
exec_case.get_result()[
    "Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo]_Reporter[output]"
][
    "Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo]"
].head(5).T

                          0        1        2        3       4
birth_year             2004     2001     2004     2004    2003
birth_month               5       12        2        4       5
birth_day                16       20       21        6       3
zodiac                  æ‘©ç¾¯åº§      å¤©ç§¤åº§      é›™å­åº§      å°„æ‰‹åº§     é‡‘ç‰›åº§
university_code         002      002      002      001     002
university           åœ‹ç«‹è‡ºç£å¤§å­¸   åœ‹ç«‹æ”¿æ²»å¤§å­¸   åœ‹ç«‹æ”¿æ²»å¤§å­¸   åœ‹ç«‹è‡ºç£å¤§å­¸  åœ‹ç«‹æ”¿æ²»å¤§å­¸
college_code            100      100     2000     2000    2000
college                è³‡è¨Šå­¸é™¢     è³‡è¨Šå­¸é™¢      ç†å­¸é™¢      æ–‡å­¸é™¢  é›»æ©Ÿè³‡è¨Šå­¸é™¢
department_code         102     9010      702     2090    9010
department_name         å“²å­¸ç³»    æ‡‰ç”¨æ•¸å­¸ç³»    è³‡è¨Šç§‘å­¸ç³»   é›»æ©Ÿå·¥ç¨‹å­¸ç³»  é›»æ©Ÿå·¥ç¨‹å­¸ç³»
admission_type_code      51       51       51       51      46
admission_type         ç¹æ˜Ÿæ¨è–¦  å­¸å£«ç­ç”³è«‹å…¥å­¸  å­¸å£«ç­ç”³è«‹å…¥å­¸  å­¸å£«ç­ç”³è«‹å…¥å­¸    ç¹æ˜Ÿæ¨è–¦
disabled_code             1        1        1        1       1
disabled_type         ç„¡èº«å¿ƒéšœç¤™    ç„¡èº«å¿ƒéšœç¤™    ç„¡èº«å¿ƒéšœç¤™    ç„¡èº«å¿ƒéšœç¤™   ç„¡èº«å¿ƒéšœç¤™
nationality_code        NaN      NaN      NaN      NaN     NaN
nationality            ä¸­è¯æ°‘åœ‹     ä¸­è¯æ°‘åœ‹     ä¸­è¯æ°‘åœ‹     ä¸­è¯æ°‘åœ‹    ä¸­è¯æ°‘åœ‹
identity_code             5       14        3        6       3
identity                ä¸€èˆ¬ç”Ÿ      ä¸€èˆ¬ç”Ÿ      ä¸€èˆ¬ç”Ÿ      ä¸€èˆ¬ç”Ÿ     ä¸€èˆ¬ç”Ÿ
sex                       ç”·        å¥³        ç”·        ç”·       ç”·