# Environment setting / 環境設定
Best practices: Categorical variables - Uniform encoding / 最佳實踐：高基數變項 - 約束條件

In [1]:
import os
import sys
from pathlib import Path

# 自動載入 utils / Auto-load utils
if "COLAB_GPU" in os.environ:
    url = "https://raw.githubusercontent.com/nics-tw/petsard/main/demo/utils.py"
    exec(open(url).read())
else:
    # 靜默搜尋 utils.py / Silent search for utils.py
    current = Path.cwd()
    for _ in range(5):
        if (current / "utils.py").exists():
            sys.path.insert(0, str(current))
            break
        current = current.parent

    # 匯入 utils 模組 / Import utils module
    from utils import quick_setup

# 快速設定 / Quick setup
is_colab, branch, yaml_path = quick_setup(
    yaml_file=[
        "categorical.yaml",
        "high-cardinality.yaml",
    ],
    benchmark_data=[
        "best-practices_categorical_high-cardinality",
    ],
    branch="main",  # 可選，預設為 "main"
    example_files=["high-cardinality.py"],
)

from petsard import Executor

🚀 PETsARD v1.5.1
📅 2025-07-31 14:07:15 UTC+8
📁 Example files specified (local environment):
✅ Found locally: high-cardinality.py
📁 Subfolder: best-practices
📄 YAML path (1/2): petsard/demo/best-practices/categorical.yaml
📄 YAML path (2/2): petsard/demo/best-practices/high-cardinality.yaml
⚙️ Configuration content (1/2) - categorical.yaml:
---
Loader:
  data:
    filepath: 'benchmark/best-practices_categorical_high-cardinality.csv'
    column_types:
      category:
        - university_code
        - college_code
        - department_code
Preprocessor:
  encoding_uniform:
    sequence:
      - 'encoder'
    encoder:
      birth_year: 'encoding_uniform'
      birth_month: 'encoding_uniform'
      birth_day: 'encoding_uniform'
      zodiac: 'encoding_uniform'
      university_code: 'encoding_uniform'
      university: 'encoding_uniform'
      college_code: 'encoding_uniform'
      college: 'encoding_uniform'
      deparment_code: 'encoding_uniform'
      department_name: 'encoding_uniform'
      admission_type_code: 'encoding_uniform'
      admission_type: 'encoding_uniform'
      disabled_code: 'encoding_uniform'
      disabled_type: 'encoding_uniform'
      nationality_code: 'encoding_uniform'
      nationality: 'encoding_uniform'
      identity_code: 'encoding_uniform'
      identity: 'encoding_uniform'
      sex: 'encoding_uniform'
Synthesizer:
  demo:
    method: 'default'
Postprocessor:
  demo:
    method: 'default'
Reporter:
  output:
    method: 'save_data'
    source: 'Postprocessor'
...
---
⚙️ Configuration content (2/2) - high-cardinality.yaml:
---
Loader:
  data:
    filepath: 'benchmark/best-practices_categorical_high-cardinality.csv'
    column_types:
      category:
        - university_code
        - college_code
        - department_code
Preprocessor:
  encoding_uniform:
    sequence:
      - 'encoder'
    encoder:
      birth_year: 'encoding_uniform'
      birth_month: 'encoding_uniform'
      birth_day: 'encoding_uniform'
      zodiac: 'encoding_uniform'
      university_code: 'encoding_uniform'
      university: 'encoding_uniform'
      college_code: 'encoding_uniform'
      college: 'encoding_uniform'
      deparment_code: 'encoding_uniform'
      department_name: 'encoding_uniform'
      admission_type_code: 'encoding_uniform'
      admission_type: 'encoding_uniform'
      disabled_code: 'encoding_uniform'
      disabled_type: 'encoding_uniform'
      nationality_code: 'encoding_uniform'
      nationality: 'encoding_uniform'
      identity_code: 'encoding_uniform'
      identity: 'encoding_uniform'
      sex: 'encoding_uniform'
Synthesizer:
  demo:
    method: 'default'
Postprocessor:
  demo:
    method: 'default'
Constrainer:
  demo:
    max_trials: 500
    field_constraints:
      # 出生年限制 Birth year restriction
      - (birth_year >= 1990) & (birth_year <= 2020)
      # 出生日限制 Birth day minimum restriction
      - birth_day >= 1
      # 出生月日限制：包含 1990-2020 的閏年列表
      # Birth month and day restrictions, including list of leap years between 1990-2020
      - |
        (((birth_month == 1) | (birth_month ==  3) | (birth_month ==  5) | (birth_month == 7) |
          (birth_month == 8) | (birth_month == 10) | (birth_month == 12)
         ) & (birth_day <= 31)
        ) |
        (((birth_month == 4) | (birth_month == 6) | (birth_month == 9) | (birth_month == 11)
         ) & (birth_day <= 30)
        ) |
        ((birth_month == 2) & (
          (((birth_year == 1992) | (birth_year == 1996) | (birth_year == 2000) |
            (birth_year == 2004) | (birth_year == 2008) | (birth_year == 2012) |
            (birth_year == 2016) | (birth_year == 2020)
           ) & (birth_day <= 29) |
          (birth_day <= 28)
          )
         )
        )
      # 星座與出生日期的對應關係 Zodiac Sign and Birth Date Correspondence
      - |
        ((zodiac == '摩羯座') &
        (((birth_month == 12) & (birth_day >= 22)) |
        ((birth_month == 1) & (birth_day <= 19)))) |

        ((zodiac == '水瓶座') &
        (((birth_month == 1) & (birth_day >= 20)) |
        ((birth_month == 2) & (birth_day <= 18)))) |

        ((zodiac == '雙魚座') &
        (((birth_month == 2) & (birth_day >= 19)) |
        ((birth_month == 3) & (birth_day <= 20)))) |

        ((zodiac == '牡羊座') &
        (((birth_month == 3) & (birth_day >= 21)) |
        ((birth_month == 4) & (birth_day <= 19)))) |

        ((zodiac == '金牛座') &
        (((birth_month == 4) & (birth_day >= 20)) |
        ((birth_month == 5) & (birth_day <= 20)))) |

        ((zodiac == '雙子座') &
        (((birth_month == 5) & (birth_day >= 21)) |
        ((birth_month == 6) & (birth_day <= 21)))) |

        ((zodiac == '巨蟹座') &
        (((birth_month == 6) & (birth_day >= 22)) |
        ((birth_month == 7) & (birth_day <= 22)))) |

        ((zodiac == '獅子座') &
        (((birth_month == 7) & (birth_day >= 23)) |
        ((birth_month == 8) & (birth_day <= 22)))) |

        ((zodiac == '處女座') &
        (((birth_month == 8) & (birth_day >= 23)) |
        ((birth_month == 9) & (birth_day <= 22)))) |

        ((zodiac == '天秤座') &
        (((birth_month == 9) & (birth_day >= 23)) |
        ((birth_month == 10) & (birth_day <= 23)))) |

        ((zodiac == '天蠍座') &
        (((birth_month == 10) & (birth_day >= 24)) |
        ((birth_month == 11) & (birth_day <= 22)))) |

        ((zodiac == '射手座') &
        (((birth_month == 11) & (birth_day >= 23)) |
        ((birth_month == 12) & (birth_day <= 21))))
    field_combinations:
      # 大學代碼與大學名稱的對應關係 University code and university name mapping
      -
        - {'university_code': 'university'}
        - {
            '001': ['國立臺灣大學'],
            '002': ['國立政治大學'],
          }
      # 學院代碼與學院名稱的對應關係 College code and college name mapping
      -
        - {'college_code': 'college'}
        - {
            # 臺大 NTU
            '1000': ['文學院'],
            '2000': ['理學院'],
            '9000': ['電機資訊學院'],
            # 政大 NCCU
            '100': ['文學院'],
            '700': ['理學院'],
            'ZA0': ['資訊學院']
          }
      # 大學代碼與學院代碼的對應關係 University code and college code mapping
      -
        - {'university_code': 'college_code'}
        - {
            '001': ['1000', '2000', '9000'],
            '002': ['100', '700', 'ZA0']
          }
      # 系所代碼與系所名稱的對應關係 Department code and department name mapping
      -
        - {'department_code': 'department_name'}
        - {
            # 臺大 NTU
            '1010': ['中國文學系'],
            '1020': ['外國語文學系'],
            '1030': ['歷史學系'],
            '1040': ['哲學系'],
            '1050': ['人類學系'],
            '1060': ['圖書資訊學系'],
            '1070': ['日本語文學系'],
            '1090': ['戲劇學系'],
            '2010': ['數學系'],
            '2020': ['物理學系'],
            '2030': ['化學系'],
            '2040': ['地質科學系'],
            '2070': ['心理學系'],
            '2080': ['地理環境資源學系'],
            '2090': ['大氣科學系'],
            '9010': ['電機工程學系'],
            '9020': ['資訊工程學系'],
            # 政大 NCCU
            '101': ['中國文學系'],
            '102': ['教育學系'],
            '103': ['歷史學系'],
            '104': ['哲學系'],
            '701': ['應用數學系'],
            '702': ['心理學系'],
            '703': ['資訊科學系']
          }
      # 學院代碼與系所代碼的對應關係 College code and department code mapping
      -
        - {'college_code': 'department_code'}
        - {
            # 臺大 NTU
            '1000': ['1010', '1020', '1030', '1040', '1050', '1060', '1070', '1090'],
            '2000': ['2010', '2020', '2030', '2040', '2070', '2080', '2090'],
            '9000': ['9010', '9020'],
            # 政大 NCCU
            '100': ['101', '102', '103', '104'],
            '700': ['701', '702'],
            'ZA0': ['703']
          }
    nan_groups:
      nationality_code:
        nan_if_condition:
          nationality:
            - '中華民國' # ROC (Taiwan)
Reporter:
  output:
    method: 'save_data'
    source: 'Constrainer'
...

In [2]:
import importlib
from pprint import pprint

import pandas as pd


# Setup utils in best-practices
high_cardinality_utils = importlib.import_module("best-practices.high-cardinality")


students = pd.read_csv("benchmark/best-practices_categorical_high-cardinality.csv")


students_columns = {}
for column in students.columns:
    students_columns[column] = {}
    students_columns[column]["cardinality"] = students[column].nunique()
    students_columns[column]["dtype"] = str(students[column].dtype)

print("columns: ")
pprint(students_columns)

columns:
{'admission_type': {'cardinality': 11, 'dtype': 'object'},
 'admission_type_code': {'cardinality': 11, 'dtype': 'object'},
 'birth_day': {'cardinality': 31, 'dtype': 'int64'},
 'birth_month': {'cardinality': 12, 'dtype': 'int64'},
 'birth_year': {'cardinality': 7, 'dtype': 'int64'},
 'college': {'cardinality': 4, 'dtype': 'object'},
 'college_code': {'cardinality': 6, 'dtype': 'object'},
 'department_code': {'cardinality': 24, 'dtype': 'int64'},
 'department_name': {'cardinality': 20, 'dtype': 'object'},
 'disabled_code': {'cardinality': 2, 'dtype': 'int64'},
 'disabled_type': {'cardinality': 2, 'dtype': 'object'},
 'identity': {'cardinality': 14, 'dtype': 'object'},
 'identity_code': {'cardinality': 14, 'dtype': 'int64'},
 'nationality': {'cardinality': 63, 'dtype': 'object'},
 'nationality_code': {'cardinality': 62, 'dtype': 'object'},
 'sex': {'cardinality': 2, 'dtype': 'object'},
 'university': {'cardinality': 2, 'dtype': 'object'},
 'university_code': {'cardinality': 2, 'dtype': 'int64'},
 'zodiac': {'cardinality': 12, 'dtype': 'object'}}

In [3]:
students.head(5).T

                                 0         1        2       3        4
birth_year                    2005      2003     2002    2002     2000
birth_month                      4         1       11      12       10
birth_day                        9        16        7      24        7
zodiac                         牡羊座       摩羯座      天蠍座     摩羯座      天秤座
university_code                  2         1        1       1        1
university                  國立政治大學    國立臺灣大學   國立臺灣大學  國立臺灣大學   國立臺灣大學
college_code                   700      2000     1000    9000     1000
college                        理學院       理學院      文學院  電機資訊學院      文學院
department_code                702      2080     1070    9020     1040
department_name               心理學系  地理環境資源學系   日本語文學系  資訊工程學系      哲學系
admission_type_code             01        46       51      46       51
admission_type       學士班 (指考分發/聯考)      繁星推薦  學士班申請入學    繁星推薦  學士班申請入學
disabled_code                    0         0        0       0        0
disabled_type                無身心障礙     無身心障礙    無身心障礙   無身心障礙    無身心障礙
nationality_code               NaN       NaN      NaN     NaN      NaN
nationality                   中華民國      中華民國     中華民國    中華民國     中華民國
identity_code                    1         1        1       1        1
identity                       一般生       一般生      一般生     一般生      一般生
sex                              女         女        男       男        女

# Execution and Result / 執行與結果

In [4]:
exec_case = Executor(config=yaml_path[0])
exec_case.run()

Now is petsard_Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo] save to csv...

In [5]:
output = exec_case.get_result()[
    "Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo]_Reporter[output]"
][
    "Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo]"
].copy()

output.head(5).T

                          0        1        2        3       4
birth_year             2004     2001     2004     2004    2003
birth_month               5       12        2        4       5
birth_day                16       20       21        6       3
zodiac                  摩羯座      天秤座      雙子座      射手座     金牛座
university_code         002      002      002      001     002
university           國立臺灣大學   國立政治大學   國立政治大學   國立臺灣大學  國立政治大學
college_code            100      100     2000     2000    2000
college                資訊學院     資訊學院      理學院      文學院  電機資訊學院
department_code        1070     9010      102      701    9010
department_name         哲學系    應用數學系    資訊科學系   電機工程學系  電機工程學系
admission_type_code      51       51       51       51      46
admission_type         繁星推薦  學士班申請入學  學士班申請入學  學士班申請入學    繁星推薦
disabled_code             1        1        1        1       1
disabled_type         無身心障礙    無身心障礙    無身心障礙    無身心障礙   無身心障礙
nationality_code        NaN      NaN      NaN      NaN     NaN
nationality            中華民國     中華民國     中華民國     中華民國    中華民國
identity_code             5       14        3        6       3
identity                一般生      一般生      一般生      一般生     一般生
sex                       男        女        男        男       男

# Invalid on Constraints / 約束條件違反

## Field Constraints / 欄位約束 (`field_constraints`)
Birthday and Zodiac Sign / 生日與星座

In [6]:
high_cardinality_utils.check_invalid(output, ["birthday"])

# 152 invalid birthday dates found

   index                                            reason  year  month  day
0     18    該年6月沒有31日 Day 31 does not exist in 6 that year  2001      6   31
1     24  該年11月沒有31日 Day 31 does not exist in 11 that year  2002     11   31
2     70    該年6月沒有31日 Day 31 does not exist in 6 that year  2002      6   31
3    120    該年2月沒有30日 Day 30 does not exist in 2 that year  2006      2   30
4    148    該年6月沒有31日 Day 31 does not exist in 6 that year  2004      6   31

Counts by reason:
reason
該年11月沒有31日 Day 31 does not exist in 11 that year    21
該年2月沒有29日 Day 29 does not exist in 2 that year      30
該年2月沒有30日 Day 30 does not exist in 2 that year      31
該年2月沒有31日 Day 31 does not exist in 2 that year      19
該年4月沒有31日 Day 31 does not exist in 4 that year      14
該年6月沒有31日 Day 31 does not exist in 6 that year      18
該年9月沒有31日 Day 31 does not exist in 9 that year      19
Name: index, dtype: int64

Total invalid records: 152
Unique invalid records: 152

In [7]:
high_cardinality_utils.check_invalid(output, ["zodiac"])

# 9204 invalid zodiac signs found

   index                      reason  month  day zodiac expected_zodiac
0      0  星座與出生日期不匹配 Zodiac mismatch      5   16    摩羯座             金牛座
1      1  星座與出生日期不匹配 Zodiac mismatch     12   20    天秤座             射手座
2      2  星座與出生日期不匹配 Zodiac mismatch      2   21    雙子座             雙魚座
3      3  星座與出生日期不匹配 Zodiac mismatch      4    6    射手座             牡羊座
4      5  星座與出生日期不匹配 Zodiac mismatch      1   28    摩羯座             水瓶座

Counts by reason:
reason
星座與出生日期不匹配 Zodiac mismatch    9204
Name: index, dtype: int64

Total invalid records: 9204
Unique invalid records: 9204

## Field Combination Constraints / 欄位組合約束 (`field_combinations`)
University, College, and Department / 大學、學院、與系所

In [8]:
high_cardinality_utils.check_invalid(output, ["university"])

# 3213 invalid universities found

   index university_code university  \
0      0             002     國立臺灣大學
1      6             002     國立臺灣大學
2      7             002     國立臺灣大學
3      8             002     國立臺灣大學
4     11             002     國立臺灣大學

                                              reason
0  大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and ...
1  大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and ...
2  大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and ...
3  大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and ...
4  大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and ...

Counts by reason:
reason
大學代碼與名稱不符，大學代碼應對應 國立政治大學 (University code and name mismatch)    3213
Name: index, dtype: int64

Total invalid records: 3213
Unique invalid records: 3213

In [9]:
high_cardinality_utils.check_invalid(output, ["college"])

# 6478 invalid colleges found

   index college_code college  \
0      0          100    資訊學院
1      1          100    資訊學院
2      3         2000     文學院
3      4         2000  電機資訊學院
4      5         9000    資訊學院

                                              reason
0  學院代碼與名稱不符，學院代碼應對應 文學院 (College code and name m...
1  學院代碼與名稱不符，學院代碼應對應 文學院 (College code and name m...
2  學院代碼與名稱不符，學院代碼應對應 理學院 (College code and name m...
3  學院代碼與名稱不符，學院代碼應對應 理學院 (College code and name m...
4  學院代碼與名稱不符，學院代碼應對應 電機資訊學院 (College code and nam...

Counts by reason:
reason
學院代碼與名稱不符，學院代碼應對應 文學院 (College code and name mismatch)       1717
學院代碼與名稱不符，學院代碼應對應 理學院 (College code and name mismatch)       4280
學院代碼與名稱不符，學院代碼應對應 資訊學院 (College code and name mismatch)       127
學院代碼與名稱不符，學院代碼應對應 電機資訊學院 (College code and name mismatch)     354
Name: index, dtype: int64

# 8284 invalid university-college relationships found

   index university_code college_code  \
0      2             002         2000
1      4             002         2000
2      5             002         9000
3      7             002         2000
4      8             002         2000

                                              reason
0  學院 2000 不屬於大學 002 (College does not belong to ...
1  學院 2000 不屬於大學 002 (College does not belong to ...
2  學院 9000 不屬於大學 002 (College does not belong to ...
3  學院 2000 不屬於大學 002 (College does not belong to ...
4  學院 2000 不屬於大學 002 (College does not belong to ...

Counts by reason:
reason
學院 100 不屬於大學 001 (College does not belong to university)       88
學院 1000 不屬於大學 002 (College does not belong to university)     686
學院 2000 不屬於大學 002 (College does not belong to university)    7022
學院 9000 不屬於大學 002 (College does not belong to university)     473
學院 ZA0 不屬於大學 001 (College does not belong to university)       15
Name: index, dtype: int64

Total invalid records: 14762
Unique invalid records: 9575

In [10]:
high_cardinality_utils.check_invalid(output, ["department"])

# 9207 invalid departments found

   index department_code department_name  \
0      0            1070             哲學系
1      1            9010           應用數學系
2      2             102           資訊科學系
3      3             701          電機工程學系
4      5             701          外國語文學系

                                              reason
0  系所代碼與名稱不符，系所代碼應對應 日本語文學系 (Department code and ...
1  系所代碼與名稱不符，系所代碼應對應 電機工程學系 (Department code and ...
2  系所代碼與名稱不符，系所代碼應對應 教育學系 (Department code and na...
3  系所代碼與名稱不符，系所代碼應對應 應用數學系 (Department code and n...
4  系所代碼與名稱不符，系所代碼應對應 應用數學系 (Department code and n...

Counts by reason:
reason
系所代碼與名稱不符，系所代碼應對應 中國文學系 (Department code and name mismatch)        549
系所代碼與名稱不符，系所代碼應對應 人類學系 (Department code and name mismatch)         207
系所代碼與名稱不符，系所代碼應對應 化學系 (Department code and name mismatch)          226
系所代碼與名稱不符，系所代碼應對應 哲學系 (Department code and name mismatch)          615
系所代碼與名稱不符，系所代碼應對應 圖書資訊學系 (Department code and name mismatch)       227
系所代碼與名稱不符，系所代碼應對應 地理環境資源學系 (Department code and name mismatch)     250
系所代碼與名稱不符，系所代碼應對應 地質科學系 (Department code and name mismatch)        224
系所代碼與名稱不符，系所代碼應對應 外國語文學系 (Department code and name mismatch)       210
系所代碼與名稱不符，系所代碼應對應 大氣科學系 (Department code and name mismatch)        225
系所代碼與名稱不符，系所代碼應對應 心理學系 (Department code and name mismatch)        1035
系所代碼與名稱不符，系所代碼應對應 應用數學系 (Department code and name mismatch)        717
系所代碼與名稱不符，系所代碼應對應 戲劇學系 (Department code and name mismatch)         227
系所代碼與名稱不符，系所代碼應對應 教育學系 (Department code and name mismatch)         410
系所代碼與名稱不符，系所代碼應對應 數學系 (Department code and name mismatch)          192
系所代碼與名稱不符，系所代碼應對應 日本語文學系 (Department code and name mismatch)       192
系所代碼與名稱不符，系所代碼應對應 歷史學系 (Department code and name mismatch)         503
系所代碼與名稱不符，系所代碼應對應 物理學系 (Department code and name mismatch)         242
系所代碼與名稱不符，系所代碼應對應 資訊工程學系 (Department code and name mismatch)       787
系所代碼與名稱不符，系所代碼應對應 資訊科學系 (Department code and name mismatch)       1400
系所代碼與名稱不符，系所代碼應對應 電機工程學系 (Department code and name mismatch)       769
Name: index, dtype: int64

# 8283 invalid college-department relationships found

   index college_code department_code  \
0      0          100            1070
1      1          100            9010
2      2         2000             102
3      3         2000             701
4      4         2000            9010

                                              reason
0  系所 1070 不屬於該學院 (Department does not belong to ...
1  系所 9010 不屬於該學院 (Department does not belong to ...
2  系所 102 不屬於該學院 (Department does not belong to c...
3  系所 701 不屬於該學院 (Department does not belong to c...
4  系所 9010 不屬於該學院 (Department does not belong to ...

Counts by reason:
reason
系所 101 不屬於該學院 (Department does not belong to college)      365
系所 1010 不屬於該學院 (Department does not belong to college)     169
系所 102 不屬於該學院 (Department does not belong to college)      373
系所 1020 不屬於該學院 (Department does not belong to college)     201
系所 103 不屬於該學院 (Department does not belong to college)      316
系所 1030 不屬於該學院 (Department does not belong to college)     160
系所 104 不屬於該學院 (Department does not belong to college)      354
系所 1040 不屬於該學院 (Department does not belong to college)     220
系所 1050 不屬於該學院 (Department does not belong to college)     199
系所 1060 不屬於該學院 (Department does not belong to college)     213
系所 1070 不屬於該學院 (Department does not belong to college)     182
系所 1090 不屬於該學院 (Department does not belong to college)     209
系所 2010 不屬於該學院 (Department does not belong to college)      49
系所 2020 不屬於該學院 (Department does not belong to college)      69
系所 2030 不屬於該學院 (Department does not belong to college)      77
系所 2040 不屬於該學院 (Department does not belong to college)      59
系所 2070 不屬於該學院 (Department does not belong to college)      70
系所 2080 不屬於該學院 (Department does not belong to college)      64
系所 2090 不屬於該學院 (Department does not belong to college)      58
系所 701 不屬於該學院 (Department does not belong to college)      788
系所 702 不屬於該學院 (Department does not belong to college)      846
系所 703 不屬於該學院 (Department does not belong to college)     1625
系所 9010 不屬於該學院 (Department does not belong to college)     821
系所 9020 不屬於該學院 (Department does not belong to college)     796
Name: index, dtype: int64

Total invalid records: 17490
Unique invalid records: 9910

## Missing Value Group Constraints / 遺失值群組約束 (`nan_group`)
Nationality and Nationality Code / 國籍與國籍代碼

In [11]:
high_cardinality_utils.check_invalid(output, ["nationality"])

# 1370 invalid nationalities found

   index nationality_code nationality  \
0     19              113        中華民國
1     20              113        中華民國
2     21              113        中華民國
3     23              009        中華民國
4     25              019        中華民國

                                              reason
0  中華民國國籍不應有國籍代碼 (ROC nationality should not have...
1  中華民國國籍不應有國籍代碼 (ROC nationality should not have...
2  中華民國國籍不應有國籍代碼 (ROC nationality should not have...
3  中華民國國籍不應有國籍代碼 (ROC nationality should not have...
4  中華民國國籍不應有國籍代碼 (ROC nationality should not have...

Counts by reason:
reason
中華民國國籍不應有國籍代碼 (ROC nationality should not have nationality code)    1370
Name: index, dtype: int64

Total invalid records: 1370
Unique invalid records: 1370

# Execution and Result 2 / 執行與結果 2

In [12]:
exec_case_w_const = Executor(config=yaml_path[1])
exec_case_w_const.run()

Trial 10: Got 1 rows, need 9999 more
Trial 20: Got 5 rows, need 9995 more
Trial 30: Got 6 rows, need 9994 more
Trial 40: Got 10 rows, need 9990 more
Trial 50: Got 15 rows, need 9985 more
Trial 60: Got 19 rows, need 9981 more
Trial 70: Got 21 rows, need 9979 more
Trial 80: Got 26 rows, need 9974 more
Trial 90: Got 29 rows, need 9971 more
Trial 100: Got 35 rows, need 9965 more
Trial 110: Got 38 rows, need 9962 more
Trial 120: Got 40 rows, need 9960 more
Trial 130: Got 46 rows, need 9954 more
Trial 140: Got 48 rows, need 9952 more
Trial 150: Got 52 rows, need 9948 more
Trial 160: Got 58 rows, need 9942 more
Trial 170: Got 60 rows, need 9940 more
Trial 180: Got 66 rows, need 9934 more
Trial 190: Got 68 rows, need 9932 more
Trial 200: Got 72 rows, need 9928 more
Trial 210: Got 75 rows, need 9925 more
Trial 220: Got 81 rows, need 9919 more
Trial 230: Got 86 rows, need 9914 more
Trial 240: Got 89 rows, need 9911 more
Trial 250: Got 94 rows, need 9906 more
Trial 260: Got 97 rows, need 9903 more
Trial 270: Got 99 rows, need 9901 more
Trial 280: Got 103 rows, need 9897 more
Trial 290: Got 107 rows, need 9893 more
Trial 300: Got 110 rows, need 9890 more
Trial 310: Got 112 rows, need 9888 more
Trial 320: Got 116 rows, need 9884 more
Trial 330: Got 119 rows, need 9881 more
Trial 340: Got 120 rows, need 9880 more
Trial 350: Got 124 rows, need 9876 more
Trial 360: Got 128 rows, need 9872 more
Trial 370: Got 130 rows, need 9870 more
Trial 380: Got 135 rows, need 9865 more
Trial 390: Got 139 rows, need 9861 more
Trial 400: Got 142 rows, need 9858 more
Trial 410: Got 146 rows, need 9854 more
Trial 420: Got 152 rows, need 9848 more
Trial 430: Got 157 rows, need 9843 more
Trial 440: Got 160 rows, need 9840 more
Trial 450: Got 164 rows, need 9836 more
Trial 460: Got 168 rows, need 9832 more
Trial 470: Got 174 rows, need 9826 more
Trial 480: Got 177 rows, need 9823 more
Trial 490: Got 183 rows, need 9817 more
Now is petsard_Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo]_Constrainer[demo] save to csv...

/Users/justyn.chen/Library/CloudStorage/Dropbox/5_Career 工作/20231016_NICS 資安院/3_工藝：PETsARD/petsard/petsard/operator.py:628: UserWarning: Maximum trials (500) reached but only got 188 rows
  self.constrained_data = self.constrainer.resample_until_satisfy(

In [13]:
output_w_const = exec_case_w_const.get_result()[
    "Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo]_Constrainer[demo]_Reporter[output]"
][
    "Loader[data]_Preprocessor[encoding_uniform]_Synthesizer[demo]_Postprocessor[demo]_Constrainer[demo]"
].copy()

output_w_const.head(5).T

                          0               1       2          3       4
birth_year             2005            2002    2004       2003    2001
birth_month               6               3       3          4       3
birth_day                23              29       5          1      11
zodiac                  巨蟹座             牡羊座     雙魚座        牡羊座     雙魚座
university_code         002             002     002        001     002
university           國立政治大學          國立政治大學  國立政治大學     國立臺灣大學  國立政治大學
college_code            ZA0             ZA0     ZA0       9000     ZA0
college                資訊學院            資訊學院    資訊學院     電機資訊學院    資訊學院
department_code         703             703     703       9010     703
department_name       資訊科學系           資訊科學系   資訊科學系     電機工程學系   資訊科學系
admission_type_code      51              39      51         58      46
admission_type         繁星推薦  四技二專推薦 (甄選) 入學    繁星推薦   學士班外籍生申請    繁星推薦
disabled_code             1               1       1          1       1
disabled_type         無身心障礙           無身心障礙   無身心障礙      無身心障礙   無身心障礙
nationality_code        NaN             NaN     NaN        NaN     NaN
nationality            中華民國            中華民國    中華民國       中華民國    中華民國
identity_code             9               3       5         52       6
identity                一般生             一般生     一般生  原住民 (泰雅族)     一般生
sex                       男               女       女          男       男

# Invalid on Constraints: After setting Constraints / 約束條件違反：在設定約束條件之後

In [14]:
high_cardinality_utils.check_invalid(output_w_const)

# No invalid colleges found

# No invalid birthday dates found

# No invalid nationalities found

# No invalid departments found

# No invalid college-department relationships found

# No invalid universities found

# No invalid university-college relationships found

# No invalid zodiac signs found

Total invalid records: 0
Unique invalid records: 0