In [1]:
import geopandas as gpd

import agrigee_lite as agl

Earth Engine initialized successfully using AgriGEE.lite for academic usage (project=ee-mateuspsilva).

In [2]:
%load_ext autoreload
%autoreload 2

In [4]:
gdf = gpd.read_parquet("data/mt_crops.parquet")

In [5]:
gdf = gdf.groupby("geometry").first().reset_index().sample(250).reset_index(drop=True)

In [6]:
import pandas as pd

In [7]:
gdf["start_date"] = pd.to_datetime(gdf.year.apply(lambda x: f"{x-1}-10-01"))
gdf["end_date"] = pd.to_datetime(gdf.year.apply(lambda x: f"{x}-10-01"))

In [12]:
gdf = gpd.GeoDataFrame(gdf)

In [17]:
dem = agl.sat.ANADEM()

dem_gdf = agl.get.multiple_sits(gdf, dem)

Simplifying clusters: 100%|██████████| 1/1 [00:15<00:00, 15.63s/it]
Downloading multiple sits: 100%|██████████| 250/250 [00:10<00:00, 24.28it/s]

In [22]:
dem_gdf

/home/mateus/git/AgriGEE.lite/.venv/lib/python3.11/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,indexnum,elevation_mean,slope_flat,slope_gentle,slope_undulating,slope_strong,slope_mountainous,slope_steep,cardinal_n,cardinal_ne,cardinal_e,cardinal_se,cardinal_s,cardinal_sw,cardinal_w,cardinal_nw
0,0,329.50,1.000000,0.000000,0.0,0.0,0.0,0.0,0.145508,0.823242,0.008888,0.000000,0.000000,0.000000,0.000000,0.022217
1,1,579.50,1.000000,0.000000,0.0,0.0,0.0,0.0,0.000999,0.060944,0.739258,0.092896,0.015991,0.057953,0.028976,0.002996
2,2,297.00,1.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.283447,0.500000,0.216675,0.000000,0.000000,0.000000
3,3,513.50,1.000000,0.000000,0.0,0.0,0.0,0.0,0.026031,0.055054,0.589355,0.044037,0.035034,0.105103,0.127075,0.018021
4,4,301.00,0.872070,0.128052,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.014778,0.492676,0.492676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,245,308.75,0.950195,0.049896,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.029480,0.548828,0.415039,0.006802
246,246,619.00,1.000000,0.000000,0.0,0.0,0.0,0.0,0.045013,0.014000,0.061005,0.109009,0.048004,0.053009,0.313965,0.355957
247,247,265.75,0.915527,0.084290,0.0,0.0,0.0,0.0,0.717773,0.038727,0.004555,0.043274,0.036438,0.020508,0.027328,0.111633
248,248,499.00,1.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.001003,0.724121,0.255859,0.019058,0.000000
249,249,348.75,1.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.796387,0.186768,0.016983,0.000000,0.000000,0.000000

In [14]:
row = gdf.iloc[0]
print(row)

dem = agl.sat.ANADEM()

agl.get.sits(row.geometry, row.start_date, row.end_date, dem)

geometry      POLYGON ((-56.608689407378805 -12.731884085052...
varda_id                   01911f51-b255-7374-b9cb-bd2b8155bc8b
ha                                                    92.012896
crops                                                        39
percentage                                             0.986636
year                                                       2018
crop_name                                               Soybean
start_date                                  2017-10-01 00:00:00
end_date                                    2018-10-01 00:00:00
Name: 0, dtype: object

,indexnum,elevation_mean,slope_flat,slope_gentle,slope_undulating,slope_strong,slope_mountainous,slope_steep,cardinal_n,cardinal_ne,cardinal_e,cardinal_se,cardinal_s,cardinal_sw,cardinal_w,cardinal_nw
0,0,329.287495,1,0,0,0,0,0,0.143629,0.817495,0.014039,0,0,0,0,0.024838

In [ ]:
agl.get.sits(row.geometry, row.start_date, row.end_date, dem)

In [ ]:
dem_sits = agl.get.multiple_sits(gdf, dem, reducers=["median", "mean", "std", "min", "max"], force_redownload=True)

In [ ]:
dem_sits.slope_min.min(), dem_sits.slope_max.max()

In [ ]:
dem_sits.sort_values("slope_stdDev", ascending=False)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import plotly.express as px

In [ ]:
!uv pip list | grep plotly

In [ ]:
row.geometry

In [ ]:
dem = agl.sat.ANADEM(bands=["slope"])

row = gdf.iloc[32]

np_img = agl.get.image(row.geometry, dem)

fig = px.imshow(np_img[:, :, 0], color_continuous_scale='viridis')

fig.update_layout(
    title='Slope',
    # coloraxis_colorbar={"title": 'm'},
    width=600,   # Largura menor
    height=500   # Altura opcional, ajuste conforme desejar
)

fig.show()

In [ ]:
import numpy as np

In [ ]:
np_img[np_img == 0] = np.nan

In [ ]:
plt.imshow(np_img[:,:,2])

In [ ]:
len(gdf)

In [ ]:
row = gdf.iloc[0]

In [ ]:
agl.get.sits(row.geometry, row.start_date, row.end_date, dem)

In [ ]:
agl.get.sits(row.geometry, row.start_date, row.end_date, dem).dtypes