In [3]:
import geopandas as gpd
import pandas as pd

In [7]:
df = pd.read_parquet("data/temp/s2sr_d0d42d6ccada0d6fefe7e383eb9b58d53a971efb_10000/1.parquet")

In [8]:
df

,indexnum,s2sr_doy_0,s2sr_doy_1,s2sr_doy_2,s2sr_doy_3,s2sr_doy_4,s2sr_doy_5,s2sr_doy_6,s2sr_doy_7,s2sr_doy_8,...,s2sr_blue_213,s2sr_green_213,s2sr_red_213,s2sr_re1_213,s2sr_re2_213,s2sr_re3_213,s2sr_nir_213,s2sr_re4_213,s2sr_swir1_213,s2sr_swir2_213
0,341881,282,282,287,287,297,297,302,302,312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,343820,278,288,303,313,318,328,333,343,353,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,427818,278,278,288,288,293,293,298,298,303,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,445541,278,288,293,298,303,308,318,323,328,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,534068,278,288,293,298,303,308,323,358,363,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,651985,278,278,283,283,288,288,303,303,313,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,700476,278,288,293,298,303,308,318,358,363,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,792051,277,282,302,307,312,327,332,342,352,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,985275,277,282,302,307,312,327,332,342,352,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1024081,278,278,288,288,293,293,298,298,303,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN